<script lang="ts">
import MainMenuPage from "$lib/pages/MainMenuPage.svelte";
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<MainMenuPage />